In [21]:
### importing libraries
import pandas as pd
import sqlite3

flow
1 establish connection ton sqlite database by creating using .connection(db)
2 to create curser using curser() method

In [22]:
## connection
conn = sqlite3.connect('movies.sqlite')

In [23]:
cur = conn.cursor()

In [24]:
cur.execute('select name from sqlite_master where type="table"')

In [25]:
cur.fetchall()

[('movies',), ('sqlite_sequence',), ('directors',)]

In [26]:
x= cur.execute('select * from movies')

In [27]:
x.description

(('id', None, None, None, None, None, None),
 ('original_title', None, None, None, None, None, None),
 ('budget', None, None, None, None, None, None),
 ('popularity', None, None, None, None, None, None),
 ('release_date', None, None, None, None, None, None),
 ('revenue', None, None, None, None, None, None),
 ('title', None, None, None, None, None, None),
 ('vote_average', None, None, None, None, None, None),
 ('vote_count', None, None, None, None, None, None),
 ('overview', None, None, None, None, None, None),
 ('tagline', None, None, None, None, None, None),
 ('uid', None, None, None, None, None, None),
 ('director_id', None, None, None, None, None, None))

In [28]:
names = [i[0] for i in x.description]

In [29]:
names

['id',
 'original_title',
 'budget',
 'popularity',
 'release_date',
 'revenue',
 'title',
 'vote_average',
 'vote_count',
 'overview',
 'tagline',
 'uid',
 'director_id']

In [30]:
cur.execute('select * from movies')

In [31]:
movies = cur.fetchall()

In [32]:
movies = pd.DataFrame(movies, columns=names)

In [33]:
movies

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763
2,43599,Spectre,245000000,107,2015-10-26,880674609,Spectre,6.3,4466,A cryptic message from Bondâ€™s past sends him o...,A Plan No One Escapes,206647,4764
3,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,7.6,9106,Following the death of District Attorney Harve...,The Legend Ends,49026,4765
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,6.1,2124,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4768,48395,El Mariachi,220000,14,1992-09-04,2040920,El Mariachi,6.6,238,El Mariachi just wants to play his guitar and ...,"He didn't come looking for trouble, but troubl...",9367,5097
4769,48396,Newlyweds,9000,0,2011-12-26,0,Newlyweds,5.9,5,A newlywed couple's honeymoon is upended by th...,A newlywed couple's honeymoon is upended by th...,72766,6485
4770,48397,"Signed, Sealed, Delivered",0,1,2013-10-13,0,"Signed, Sealed, Delivered",7.0,6,"""Signed, Sealed, Delivered"" introduces a dedic...",None,231617,7108
4771,48398,Shanghai Calling,0,0,2012-05-03,0,Shanghai Calling,5.7,7,When ambitious New York attorney Sam is sent t...,A New Yorker in Shanghai,126186,7109
4772,48399,My Date with Drew,0,1,2005-08-05,0,My Date with Drew,6.3,16,Ever since the second grade when he first saw ...,None,25975,7110

In [34]:
movies.describe()

,id,budget,popularity,revenue,vote_average,vote_count,uid,director_id
count,4773.000000,4.773000e+03,4773.000000,4.773000e+03,4773.000000,4773.000000,4773.000000,4773.000000
mean,45985.680913,2.922461e+07,21.136602,8.277710e+07,6.109177,694.541588,56244.396396,5586.661429
std,1382.032760,4.078679e+07,31.864132,1.632374e+08,1.146789,1237.251355,87452.149183,670.413263
min,43597.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,5.000000,4762.000000
25%,44790.000000,9.500000e+05,4.000000,0.000000e+00,5.600000,55.000000,8998.000000,5011.000000
50%,45983.000000,1.500000e+07,13.000000,1.947811e+07,6.200000,238.000000,14517.000000,5389.000000
75%,47176.000000,4.000000e+07,28.000000,9.361701e+07,6.800000,742.000000,57876.000000,6086.000000
max,48399.000000,3.800000e+08,875.000000,2.787965e+09,10.000000,13752.000000,459488.000000,7110.000000

In [35]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4773 entries, 0 to 4772
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              4773 non-null   int64
 1   original_title  4773 non-null   object
 2   budget          4773 non-null   int64
 3   popularity      4773 non-null   int64
 4   release_date    4773 non-null   object
 5   revenue         4773 non-null   int64
 6   title           4773 non-null   object
 7   vote_average    4773 non-null   float64
 8   vote_count      4773 non-null   int64
 9   overview        4770 non-null   object
 10  tagline         3951 non-null   object
 11  uid             4773 non-null   int64
 12  director_id     4773 non-null   int64
dtypes: float64(1), int64(7), object(5)
memory usage: 484.9+ KB

In [38]:
x= cur.execute('select  * from directors')

In [39]:
names = [i[0] for i in x.description]

In [40]:
names

['name', 'id', 'gender', 'uid', 'department']

In [41]:
cur.execute('select  * from directors')

In [42]:
directors = cur.fetchall()

In [44]:
directors = pd.DataFrame(directors , columns = names)

In [45]:
directors

                   name    id  gender      uid department
0         James Cameron  4762       2     2710  Directing
1        Gore Verbinski  4763       2     1704  Directing
2            Sam Mendes  4764       2       39  Directing
3     Christopher Nolan  4765       2      525  Directing
4        Andrew Stanton  4766       2        7  Directing
...                 ...   ...     ...      ...        ...
2344      Shane Carruth  7106       2    76624  Directing
2345   Neill Dela Llana  7107       0  1174437  Directing
2346        Scott Smith  7108       0  1219158  Directing
2347        Daniel Hsia  7109       2   208138  Directing
2348   Brian Herzlinger  7110       2    85563  Directing

[2349 rows x 5 columns]

In [47]:
#### question
cur.execute('select count(id) from movies')
cur.fetchall()

[(4773,)]

In [53]:
### find the data of these three directors : James Cameron , Luc Besson , John Woo
cur.execute('select * from directors where name in ("James Cameron", "Luc Besson" , "John Woo")')
cur.fetchall()

[('James Cameron', 4762, 2, 2710, 'Directing'),
 ('John Woo', 4893, 2, 11401, 'Directing'),
 ('Luc Besson', 4949, 2, 59, 'Directing')]

In [60]:
### find all the directors with name starting with steven
cur.execute('select name from directors where name like "Steven%"')
cur.fetchall()

[('Steven Spielberg',),
 ('Steven Soderbergh',),
 ('Steven Brill',),
 ('Steven Zaillian',),
 ('Steven Quale',),
 ('Steven Seagal',),
 ('Steven E. de Souza',),
 ('Steven Shainberg',),
 ('Steven R. Monroe',)]

In [62]:
## gender = 1 = female
## count of all the female directors
cur.execute('select count(gender) from directors where gender=1')
cur.fetchall()

[(150,)]

In [71]:
## name of 10th person in the list - limit
cur.execute('select name from directors where gender = 1 limit 10')
y = cur.fetchall()

In [73]:
y[-1]

('Angelina Jolie',)

In [74]:
cur.execute('select name from directors where gender =1 limit 1 offset 9')
cur.fetchall()

[('Angelina Jolie',)]

In [76]:
movies.columns

Index(['id', 'original_title', 'budget', 'popularity', 'release_date',
       'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagline',
       'uid', 'director_id'],
      dtype='object')

In [77]:
### what are the three most popular movies
cur.execute('select title , popularity from movies order by popularity desc limit 3')
cur.fetchall()

[('Minions', 875), ('Interstellar', 724), ('Deadpool', 514)]

In [82]:
### what is the most awarded avg rated movie since jan 1st 2000
cur.execute('select title , release_date from movies where release_date > "2000-01-01" order by vote_average desc limit 3')
cur.fetchall()

[('Sardaarji', '2015-06-26'),
 ('Spirited Away', '2001-07-20'),
 ('Whiplash', '2014-10-10')]

In [83]:
### which is movies were directed by Brenda Chapmen
cur.execute('select original_title from movies inner join directors on original_title where name = "Brenda Chapman"')
cur.fetchall()

[('2012',),
 ('47 Ronin',),
 ('4: Rise of the Silver Surfer',),
 ('300: Rise of an Empire',),
 ('102 Dalmatians',),
 ('2 Fast 2 Furious',),
 ('50 First Dates',),
 ('3000 Miles to Graceland',),
 ('300',),
 ('2 Guns',),
 ('22 Jump Street',),
 ('13 Hours: The Secret Soldiers of Benghazi',),
 ('3:10 to Yuma',),
 ('1947: Earth',),
 ('16 Blocks',),
 ('28 Days',),
 ('21 Jump Street',),
 ('15 Minutes',),
 ('8 Mile',),
 ('42',),
 ('17 Again',),
 ('8MM',),
 ('21',),
 ('1941',),
 ('27 Dresses',),
 ('13 Going on 30',),
 ('30 Days of Night',),
 ('9',),
 ('88 Minutes',),
 ('30 Minutes or Less',),
 ('3 Days to Kill',),
 ('1408',),
 ('12 Years a Slave',),
 ('21 Grams',),
 ('12 Rounds',),
 ('3 Ninjas Kick Back',),
 ('127 Hours',),
 ('40 Days and 40 Nights',),
 ('55 Days at Peking',),
 ('28 Weeks Later',),
 ('10 Things I Hate About You',),
 ('54',),
 ('21 & Over',),
 ('2046',),
 ('5 Days of War',),
 ('10 Days in a Madhouse',),
 ('2001: A Space Odyssey',),
 ('28 Days Later',),
 ('50/50',),
 ('8 femmes',),
 ('10th & Wolf',),
 ('200 Cigarettes',),
 ('11:14',),
 ('10 Cloverfield Lane',),
 ('20,000 Leagues Under the Sea',),
 ('90 Minutes in Heaven',),
 ('25th Hour',),
 ('3 Strikes',),
 ('1776',),
 ('2:13',),
 ('8 Heads in a Duffel Bag',),
 ('30 Nights of Paranormal Activity With the Devil Inside the Girl With the Dragon Tattoo',),
 ("2016: Obama's America",),
 ('8: The Mormon Proposition',),
 ('8 Days',),
 ('24 7: Twenty Four Seven',),
 ('20 Feet from Stardom',),
 ('16 to Life',),
 ('4 luni, 3 sÄƒptÄƒmÃ®ni È™i 2 zile',),
 ('1982',),
 ('42nd Street',),
 ('51 Birch Street',),
 ('12 Angry Men',),
 ('3 Backyards',),
 ('20 Dates',)]

In [85]:
### which is movies were directed by Brenda Chapmen
cur.execute('select original_title from movies inner join directors on movies.director_id = directors.id where directors.name = "Brenda Chapman"')
cur.fetchall()

[('Brave',)]

In [120]:
### name the director who has made most number of movies
cur.execute('SELECT directors.name, count(*) as movie_count FROM movies JOIN directors ON movies.director_id = directors.id GROUP BY directors.name ORDER BY movie_count DESC LIMIT 3')
cur.fetchall()

[('Steven Spielberg', 27), ('Woody Allen', 21), ('Martin Scorsese', 20)]

In [113]:
### name the director who is most bankable
cur.execute('select name, sum(budget) from movies inner join directors order by budget desc limit 3')
cur.fetchall()

[('James Cameron', 327659840745480)]

In [100]:
### all the possible details of top 10 movies with highest budget 
cur.execute('select title, budget from movies order by budget desc limit 10')
cur.fetchall()

[('Pirates of the Caribbean: On Stranger Tides', 380000000),
 ("Pirates of the Caribbean: At World's End", 300000000),
 ('Avengers: Age of Ultron', 280000000),
 ('Superman Returns', 270000000),
 ('John Carter', 260000000),
 ('Tangled', 260000000),
 ('Spider-Man 3', 258000000),
 ('The Lone Ranger', 255000000),
 ('The Dark Knight Rises', 250000000),
 ('Harry Potter and the Half-Blood Prince', 250000000)]

In [96]:
### details of top 10 revenue making movies
cur.execute('select title, revenue from movies order by revenue desc limit 3')
cur.fetchall()

[('Avatar', 2787965087), ('Titanic', 1845034188), ('The Avengers', 1519557910)]